body {
    background-color: #272838;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #989FCE;
}

#header {
    text-align: center;
}

#selection {
    color: #989FCE;
}

#go {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background-color: #272838;
    border: 2px solid #347FC4;
    color: #989FCE;
}

#go:hover {
    background-color: #292b3d;
    box-shadow: 2px 2px 5px black;
}

h3 {
    text-align: center;
    color: #989FCE;
}

#noresult, #nofranchise {
    color: rgb(243, 61, 61);
    width: 100%;
    text-align: center;
}

#f1, #f2 {
    background-color: #292b3d;
    color: #989FCE;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #347FC4;
    height: 30px;
    width: 300px;
    text-align: center;
    font-size: 19px;
}

#s1, #s2 {
    background-color: #292b3d;
    color: #989FCE;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #347FC4;
    height: 30px;
    width: 300px;
    text-align: center;
    font-size: 15px;
}

#results {
    color: #989FCE;
    padding-bottom: 10px;
}

hr {
    border-color: #347FC4;
    width: 50%;
    opacity: 0.7;
}

#results {
    text-align: center;
}

.name, .role {
    position: relative;
    padding: 0;
    margin: auto;
    line-height: 5px;
    left: -50px;
}

.name {
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

.role {
    font-size: 16px;
}

.img {
    width: 100px;
    height: 150px;
    display: inline-block;
    float: left;
}

.prof {
    float: left;
    width: 100px;
    min-height: 150px;
    object-fit: contain;
}

.actor {
    width: 50%;
    min-height: 150px;
    margin: auto;
    display: inline-block;
}

#bottom {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #272838;
    color: white;
    font-size: 14px;
}